/*
nextcloud

Nextcloud APIs

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client_sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


type CoreReferenceAPI interface {

	/*
	CoreReferencePreview Get a preview for a reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param referenceId the reference cache key
	@return CoreReferenceAPICoreReferencePreviewRequest
	*/
	CoreReferencePreview(ctx context.Context, referenceId string) CoreReferenceAPICoreReferencePreviewRequest

	// CoreReferencePreviewExecute executes the request
	//  @return *os.File
	CoreReferencePreviewExecute(r CoreReferenceAPICoreReferencePreviewRequest) (*os.File, *http.Response, error)
}

// CoreReferenceAPIService CoreReferenceAPI service
type CoreReferenceAPIService service

type CoreReferenceAPICoreReferencePreviewRequest struct {
	ctx context.Context
	ApiService CoreReferenceAPI
	referenceId string
}

func (r CoreReferenceAPICoreReferencePreviewRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.CoreReferencePreviewExecute(r)
}

/*
CoreReferencePreview Get a preview for a reference

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param referenceId the reference cache key
 @return CoreReferenceAPICoreReferencePreviewRequest
*/
func (a *CoreReferenceAPIService) CoreReferencePreview(ctx context.Context, referenceId string) CoreReferenceAPICoreReferencePreviewRequest {
	return CoreReferenceAPICoreReferencePreviewRequest{
		ApiService: a,
		ctx: ctx,
		referenceId: referenceId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *CoreReferenceAPIService) CoreReferencePreviewExecute(r CoreReferenceAPICoreReferencePreviewRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceAPIService.CoreReferencePreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/index.php/core/references/preview/{referenceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"referenceId"+"}", url.PathEscape(parameterValueToString(r.referenceId, "referenceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
