/*
nextcloud

Nextcloud APIs

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client_sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CoreHoverCardAPI interface {

	/*
	CoreHoverCardGetUser Get the user details for a hovercard

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId ID of the user
	@return CoreHoverCardAPICoreHoverCardGetUserRequest
	*/
	CoreHoverCardGetUser(ctx context.Context, userId string) CoreHoverCardAPICoreHoverCardGetUserRequest

	// CoreHoverCardGetUserExecute executes the request
	//  @return CoreHoverCardGetUser200Response
	CoreHoverCardGetUserExecute(r CoreHoverCardAPICoreHoverCardGetUserRequest) (*CoreHoverCardGetUser200Response, *http.Response, error)
}

// CoreHoverCardAPIService CoreHoverCardAPI service
type CoreHoverCardAPIService service

type CoreHoverCardAPICoreHoverCardGetUserRequest struct {
	ctx context.Context
	ApiService CoreHoverCardAPI
	userId string
	oCSAPIRequest *string
}

func (r CoreHoverCardAPICoreHoverCardGetUserRequest) OCSAPIRequest(oCSAPIRequest string) CoreHoverCardAPICoreHoverCardGetUserRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

func (r CoreHoverCardAPICoreHoverCardGetUserRequest) Execute() (*CoreHoverCardGetUser200Response, *http.Response, error) {
	return r.ApiService.CoreHoverCardGetUserExecute(r)
}

/*
CoreHoverCardGetUser Get the user details for a hovercard

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId ID of the user
 @return CoreHoverCardAPICoreHoverCardGetUserRequest
*/
func (a *CoreHoverCardAPIService) CoreHoverCardGetUser(ctx context.Context, userId string) CoreHoverCardAPICoreHoverCardGetUserRequest {
	return CoreHoverCardAPICoreHoverCardGetUserRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CoreHoverCardGetUser200Response
func (a *CoreHoverCardAPIService) CoreHoverCardGetUserExecute(r CoreHoverCardAPICoreHoverCardGetUserRequest) (*CoreHoverCardGetUser200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreHoverCardGetUser200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreHoverCardAPIService.CoreHoverCardGetUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/hovercard/v1/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
