/*
nextcloud

Nextcloud APIs

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// CorePreviewApiService CorePreviewApi service
type CorePreviewApiService service

type ApiCorePreviewGetPreviewRequest struct {
	ctx context.Context
	ApiService *CorePreviewApiService
	file *string
	x *int64
	y *int64
	a *int32
	forceIcon *int32
	mode *string
}

// Path of the file
func (r ApiCorePreviewGetPreviewRequest) File(file string) ApiCorePreviewGetPreviewRequest {
	r.file = &file
	return r
}

// Width of the preview
func (r ApiCorePreviewGetPreviewRequest) X(x int64) ApiCorePreviewGetPreviewRequest {
	r.x = &x
	return r
}

// Height of the preview
func (r ApiCorePreviewGetPreviewRequest) Y(y int64) ApiCorePreviewGetPreviewRequest {
	r.y = &y
	return r
}

// Not crop the preview
func (r ApiCorePreviewGetPreviewRequest) A(a int32) ApiCorePreviewGetPreviewRequest {
	r.a = &a
	return r
}

// Force returning an icon
func (r ApiCorePreviewGetPreviewRequest) ForceIcon(forceIcon int32) ApiCorePreviewGetPreviewRequest {
	r.forceIcon = &forceIcon
	return r
}

// How to crop the image
func (r ApiCorePreviewGetPreviewRequest) Mode(mode string) ApiCorePreviewGetPreviewRequest {
	r.mode = &mode
	return r
}

func (r ApiCorePreviewGetPreviewRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.CorePreviewGetPreviewExecute(r)
}

/*
CorePreviewGetPreview Get a preview by file ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCorePreviewGetPreviewRequest
*/
func (a *CorePreviewApiService) CorePreviewGetPreview(ctx context.Context) ApiCorePreviewGetPreviewRequest {
	return ApiCorePreviewGetPreviewRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *CorePreviewApiService) CorePreviewGetPreviewExecute(r ApiCorePreviewGetPreviewRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CorePreviewApiService.CorePreviewGetPreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/index.php/core/preview.png"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file", r.file, "")
	}
	if r.x != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "x", r.x, "")
	}
	if r.y != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "y", r.y, "")
	}
	if r.a != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "a", r.a, "")
	}
	if r.forceIcon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forceIcon", r.forceIcon, "")
	}
	if r.mode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mode", r.mode, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCorePreviewGetPreviewByFileIdRequest struct {
	ctx context.Context
	ApiService *CorePreviewApiService
	fileId *int64
	x *int64
	y *int64
	a *int32
	forceIcon *int32
	mode *string
}

// ID of the file
func (r ApiCorePreviewGetPreviewByFileIdRequest) FileId(fileId int64) ApiCorePreviewGetPreviewByFileIdRequest {
	r.fileId = &fileId
	return r
}

// Width of the preview
func (r ApiCorePreviewGetPreviewByFileIdRequest) X(x int64) ApiCorePreviewGetPreviewByFileIdRequest {
	r.x = &x
	return r
}

// Height of the preview
func (r ApiCorePreviewGetPreviewByFileIdRequest) Y(y int64) ApiCorePreviewGetPreviewByFileIdRequest {
	r.y = &y
	return r
}

// Not crop the preview
func (r ApiCorePreviewGetPreviewByFileIdRequest) A(a int32) ApiCorePreviewGetPreviewByFileIdRequest {
	r.a = &a
	return r
}

// Force returning an icon
func (r ApiCorePreviewGetPreviewByFileIdRequest) ForceIcon(forceIcon int32) ApiCorePreviewGetPreviewByFileIdRequest {
	r.forceIcon = &forceIcon
	return r
}

// How to crop the image
func (r ApiCorePreviewGetPreviewByFileIdRequest) Mode(mode string) ApiCorePreviewGetPreviewByFileIdRequest {
	r.mode = &mode
	return r
}

func (r ApiCorePreviewGetPreviewByFileIdRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.CorePreviewGetPreviewByFileIdExecute(r)
}

/*
CorePreviewGetPreviewByFileId Get a preview by file ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCorePreviewGetPreviewByFileIdRequest
*/
func (a *CorePreviewApiService) CorePreviewGetPreviewByFileId(ctx context.Context) ApiCorePreviewGetPreviewByFileIdRequest {
	return ApiCorePreviewGetPreviewByFileIdRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *CorePreviewApiService) CorePreviewGetPreviewByFileIdExecute(r ApiCorePreviewGetPreviewByFileIdRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CorePreviewApiService.CorePreviewGetPreviewByFileId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/index.php/core/preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fileId", r.fileId, "")
	}
	if r.x != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "x", r.x, "")
	}
	if r.y != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "y", r.y, "")
	}
	if r.a != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "a", r.a, "")
	}
	if r.forceIcon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forceIcon", r.forceIcon, "")
	}
	if r.mode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mode", r.mode, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
