/*
nextcloud

Nextcloud APIs

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CoreReferenceApiApiService CoreReferenceApiApi service
type CoreReferenceApiApiService service

type ApiCoreReferenceApiExtractRequest struct {
	ctx context.Context
	ApiService *CoreReferenceApiApiService
	text *string
	oCSAPIRequest *string
	resolve *int32
	limit *int64
}

// Text to extract from
func (r ApiCoreReferenceApiExtractRequest) Text(text string) ApiCoreReferenceApiExtractRequest {
	r.text = &text
	return r
}

func (r ApiCoreReferenceApiExtractRequest) OCSAPIRequest(oCSAPIRequest string) ApiCoreReferenceApiExtractRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

// Resolve the references
func (r ApiCoreReferenceApiExtractRequest) Resolve(resolve int32) ApiCoreReferenceApiExtractRequest {
	r.resolve = &resolve
	return r
}

// Maximum amount of references to extract
func (r ApiCoreReferenceApiExtractRequest) Limit(limit int64) ApiCoreReferenceApiExtractRequest {
	r.limit = &limit
	return r
}

func (r ApiCoreReferenceApiExtractRequest) Execute() (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	return r.ApiService.CoreReferenceApiExtractExecute(r)
}

/*
CoreReferenceApiExtract Extract references from a text

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCoreReferenceApiExtractRequest
*/
func (a *CoreReferenceApiApiService) CoreReferenceApiExtract(ctx context.Context) ApiCoreReferenceApiExtractRequest {
	return ApiCoreReferenceApiExtractRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CoreReferenceApiResolveOne200Response
func (a *CoreReferenceApiApiService) CoreReferenceApiExtractExecute(r ApiCoreReferenceApiExtractRequest) (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreReferenceApiResolveOne200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceApiApiService.CoreReferenceApiExtract")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/references/extract"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.text == nil {
		return localVarReturnValue, nil, reportError("text is required and must be specified")
	}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "text", r.text, "")
	if r.resolve != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolve", r.resolve, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCoreReferenceApiGetProvidersInfoRequest struct {
	ctx context.Context
	ApiService *CoreReferenceApiApiService
	oCSAPIRequest *string
}

func (r ApiCoreReferenceApiGetProvidersInfoRequest) OCSAPIRequest(oCSAPIRequest string) ApiCoreReferenceApiGetProvidersInfoRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

func (r ApiCoreReferenceApiGetProvidersInfoRequest) Execute() (*CoreReferenceApiGetProvidersInfo200Response, *http.Response, error) {
	return r.ApiService.CoreReferenceApiGetProvidersInfoExecute(r)
}

/*
CoreReferenceApiGetProvidersInfo Get the providers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCoreReferenceApiGetProvidersInfoRequest
*/
func (a *CoreReferenceApiApiService) CoreReferenceApiGetProvidersInfo(ctx context.Context) ApiCoreReferenceApiGetProvidersInfoRequest {
	return ApiCoreReferenceApiGetProvidersInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CoreReferenceApiGetProvidersInfo200Response
func (a *CoreReferenceApiApiService) CoreReferenceApiGetProvidersInfoExecute(r ApiCoreReferenceApiGetProvidersInfoRequest) (*CoreReferenceApiGetProvidersInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreReferenceApiGetProvidersInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceApiApiService.CoreReferenceApiGetProvidersInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/references/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCoreReferenceApiResolveRequest struct {
	ctx context.Context
	ApiService *CoreReferenceApiApiService
	references *string
	oCSAPIRequest *string
	limit *int64
}

// References to resolve
func (r ApiCoreReferenceApiResolveRequest) References(references string) ApiCoreReferenceApiResolveRequest {
	r.references = &references
	return r
}

func (r ApiCoreReferenceApiResolveRequest) OCSAPIRequest(oCSAPIRequest string) ApiCoreReferenceApiResolveRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

// Maximum amount of references to resolve
func (r ApiCoreReferenceApiResolveRequest) Limit(limit int64) ApiCoreReferenceApiResolveRequest {
	r.limit = &limit
	return r
}

func (r ApiCoreReferenceApiResolveRequest) Execute() (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	return r.ApiService.CoreReferenceApiResolveExecute(r)
}

/*
CoreReferenceApiResolve Resolve multiple references

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCoreReferenceApiResolveRequest
*/
func (a *CoreReferenceApiApiService) CoreReferenceApiResolve(ctx context.Context) ApiCoreReferenceApiResolveRequest {
	return ApiCoreReferenceApiResolveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CoreReferenceApiResolveOne200Response
func (a *CoreReferenceApiApiService) CoreReferenceApiResolveExecute(r ApiCoreReferenceApiResolveRequest) (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreReferenceApiResolveOne200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceApiApiService.CoreReferenceApiResolve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/references/resolve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.references == nil {
		return localVarReturnValue, nil, reportError("references is required and must be specified")
	}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "references", r.references, "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCoreReferenceApiResolveOneRequest struct {
	ctx context.Context
	ApiService *CoreReferenceApiApiService
	reference *string
	oCSAPIRequest *string
}

// Reference to resolve
func (r ApiCoreReferenceApiResolveOneRequest) Reference(reference string) ApiCoreReferenceApiResolveOneRequest {
	r.reference = &reference
	return r
}

func (r ApiCoreReferenceApiResolveOneRequest) OCSAPIRequest(oCSAPIRequest string) ApiCoreReferenceApiResolveOneRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

func (r ApiCoreReferenceApiResolveOneRequest) Execute() (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	return r.ApiService.CoreReferenceApiResolveOneExecute(r)
}

/*
CoreReferenceApiResolveOne Resolve a reference

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCoreReferenceApiResolveOneRequest
*/
func (a *CoreReferenceApiApiService) CoreReferenceApiResolveOne(ctx context.Context) ApiCoreReferenceApiResolveOneRequest {
	return ApiCoreReferenceApiResolveOneRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CoreReferenceApiResolveOne200Response
func (a *CoreReferenceApiApiService) CoreReferenceApiResolveOneExecute(r ApiCoreReferenceApiResolveOneRequest) (*CoreReferenceApiResolveOne200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreReferenceApiResolveOne200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceApiApiService.CoreReferenceApiResolveOne")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/references/resolve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reference == nil {
		return localVarReturnValue, nil, reportError("reference is required and must be specified")
	}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "reference", r.reference, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCoreReferenceApiTouchProviderRequest struct {
	ctx context.Context
	ApiService *CoreReferenceApiApiService
	providerId string
	oCSAPIRequest *string
	timestamp *int64
}

func (r ApiCoreReferenceApiTouchProviderRequest) OCSAPIRequest(oCSAPIRequest string) ApiCoreReferenceApiTouchProviderRequest {
	r.oCSAPIRequest = &oCSAPIRequest
	return r
}

// Timestamp of the last usage
func (r ApiCoreReferenceApiTouchProviderRequest) Timestamp(timestamp int64) ApiCoreReferenceApiTouchProviderRequest {
	r.timestamp = &timestamp
	return r
}

func (r ApiCoreReferenceApiTouchProviderRequest) Execute() (*CoreReferenceApiTouchProvider200Response, *http.Response, error) {
	return r.ApiService.CoreReferenceApiTouchProviderExecute(r)
}

/*
CoreReferenceApiTouchProvider Touch a provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId ID of the provider
 @return ApiCoreReferenceApiTouchProviderRequest
*/
func (a *CoreReferenceApiApiService) CoreReferenceApiTouchProvider(ctx context.Context, providerId string) ApiCoreReferenceApiTouchProviderRequest {
	return ApiCoreReferenceApiTouchProviderRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
//  @return CoreReferenceApiTouchProvider200Response
func (a *CoreReferenceApiApiService) CoreReferenceApiTouchProviderExecute(r ApiCoreReferenceApiTouchProviderRequest) (*CoreReferenceApiTouchProvider200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoreReferenceApiTouchProvider200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CoreReferenceApiApiService.CoreReferenceApiTouchProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ocs/v2.php/references/provider/{providerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oCSAPIRequest == nil {
		return localVarReturnValue, nil, reportError("oCSAPIRequest is required and must be specified")
	}

	if r.timestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "OCS-APIRequest", r.oCSAPIRequest, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
