# coding: utf-8

"""
    nextcloud

    Nextcloud APIs

    The version of the OpenAPI document: 0.0.1
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr

from typing import Optional

from nextcloud_client.models.files_sharing_shareesapi_find_recommended200_response import FilesSharingShareesapiFindRecommended200Response
from nextcloud_client.models.files_sharing_shareesapi_search200_response import FilesSharingShareesapiSearch200Response

from nextcloud_client.api_client import ApiClient
from nextcloud_client.api_response import ApiResponse
from nextcloud_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class FilesSharingShareesapiApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def files_sharing_shareesapi_find_recommended(self, item_type : Annotated[StrictStr, Field(..., description="Limit to specific item types")], ocs_api_request : StrictStr, share_type : Annotated[Optional[StrictStr], Field(description="Limit to specific share types")] = None, **kwargs) -> FilesSharingShareesapiFindRecommended200Response:  # noqa: E501
        """Find recommended sharees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_sharing_shareesapi_find_recommended(item_type, ocs_api_request, share_type, async_req=True)
        >>> result = thread.get()

        :param item_type: Limit to specific item types (required)
        :type item_type: str
        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param share_type: Limit to specific share types
        :type share_type: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: FilesSharingShareesapiFindRecommended200Response
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the files_sharing_shareesapi_find_recommended_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.files_sharing_shareesapi_find_recommended_with_http_info(item_type, ocs_api_request, share_type, **kwargs)  # noqa: E501

    @validate_arguments
    def files_sharing_shareesapi_find_recommended_with_http_info(self, item_type : Annotated[StrictStr, Field(..., description="Limit to specific item types")], ocs_api_request : StrictStr, share_type : Annotated[Optional[StrictStr], Field(description="Limit to specific share types")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Find recommended sharees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_sharing_shareesapi_find_recommended_with_http_info(item_type, ocs_api_request, share_type, async_req=True)
        >>> result = thread.get()

        :param item_type: Limit to specific item types (required)
        :type item_type: str
        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param share_type: Limit to specific share types
        :type share_type: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(FilesSharingShareesapiFindRecommended200Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'item_type',
            'ocs_api_request',
            'share_type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method files_sharing_shareesapi_find_recommended" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('item_type') is not None:  # noqa: E501
            _query_params.append(('itemType', _params['item_type']))

        if _params.get('share_type') is not None:  # noqa: E501
            _query_params.append(('shareType', _params['share_type']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['ocs_api_request']:
            _header_params['OCS-APIRequest'] = _params['ocs_api_request']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['basic_auth', 'bearer_auth']  # noqa: E501

        _response_types_map = {
            '200': "FilesSharingShareesapiFindRecommended200Response",
        }

        return self.api_client.call_api(
            '/ocs/v2.php/apps/files_sharing/api/v1/sharees_recommended', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def files_sharing_shareesapi_search(self, ocs_api_request : StrictStr, search : Annotated[Optional[StrictStr], Field(description="Text to search for")] = None, item_type : Annotated[Optional[StrictStr], Field(description="Limit to specific item types")] = None, page : Annotated[Optional[StrictInt], Field(description="Page offset for searching")] = None, per_page : Annotated[Optional[StrictInt], Field(description="Limit amount of search results per page")] = None, share_type : Annotated[Optional[StrictStr], Field(description="Limit to specific share types")] = None, lookup : Annotated[Optional[StrictInt], Field(description="If a global lookup should be performed too")] = None, **kwargs) -> FilesSharingShareesapiSearch200Response:  # noqa: E501
        """Search for sharees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_sharing_shareesapi_search(ocs_api_request, search, item_type, page, per_page, share_type, lookup, async_req=True)
        >>> result = thread.get()

        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param search: Text to search for
        :type search: str
        :param item_type: Limit to specific item types
        :type item_type: str
        :param page: Page offset for searching
        :type page: int
        :param per_page: Limit amount of search results per page
        :type per_page: int
        :param share_type: Limit to specific share types
        :type share_type: str
        :param lookup: If a global lookup should be performed too
        :type lookup: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: FilesSharingShareesapiSearch200Response
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the files_sharing_shareesapi_search_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.files_sharing_shareesapi_search_with_http_info(ocs_api_request, search, item_type, page, per_page, share_type, lookup, **kwargs)  # noqa: E501

    @validate_arguments
    def files_sharing_shareesapi_search_with_http_info(self, ocs_api_request : StrictStr, search : Annotated[Optional[StrictStr], Field(description="Text to search for")] = None, item_type : Annotated[Optional[StrictStr], Field(description="Limit to specific item types")] = None, page : Annotated[Optional[StrictInt], Field(description="Page offset for searching")] = None, per_page : Annotated[Optional[StrictInt], Field(description="Limit amount of search results per page")] = None, share_type : Annotated[Optional[StrictStr], Field(description="Limit to specific share types")] = None, lookup : Annotated[Optional[StrictInt], Field(description="If a global lookup should be performed too")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Search for sharees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_sharing_shareesapi_search_with_http_info(ocs_api_request, search, item_type, page, per_page, share_type, lookup, async_req=True)
        >>> result = thread.get()

        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param search: Text to search for
        :type search: str
        :param item_type: Limit to specific item types
        :type item_type: str
        :param page: Page offset for searching
        :type page: int
        :param per_page: Limit amount of search results per page
        :type per_page: int
        :param share_type: Limit to specific share types
        :type share_type: str
        :param lookup: If a global lookup should be performed too
        :type lookup: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(FilesSharingShareesapiSearch200Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'ocs_api_request',
            'search',
            'item_type',
            'page',
            'per_page',
            'share_type',
            'lookup'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method files_sharing_shareesapi_search" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('search') is not None:  # noqa: E501
            _query_params.append(('search', _params['search']))

        if _params.get('item_type') is not None:  # noqa: E501
            _query_params.append(('itemType', _params['item_type']))

        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('per_page') is not None:  # noqa: E501
            _query_params.append(('perPage', _params['per_page']))

        if _params.get('share_type') is not None:  # noqa: E501
            _query_params.append(('shareType', _params['share_type']))

        if _params.get('lookup') is not None:  # noqa: E501
            _query_params.append(('lookup', _params['lookup']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['ocs_api_request']:
            _header_params['OCS-APIRequest'] = _params['ocs_api_request']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['basic_auth', 'bearer_auth']  # noqa: E501

        _response_types_map = {
            '200': "FilesSharingShareesapiSearch200Response",
        }

        return self.api_client.call_api(
            '/ocs/v2.php/apps/files_sharing/api/v1/sharees', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
