# coding: utf-8

"""
    nextcloud

    Nextcloud APIs  # noqa: E501

    The version of the OpenAPI document: 0.0.1
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr

from typing import Optional

from openapi_client.models.dav_direct_get_url200_response import DavDirectGetUrl200Response

from openapi_client.api_client import ApiClient
from openapi_client.api_response import ApiResponse
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class DavDirectApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def dav_direct_get_url(self, file_id : Annotated[StrictInt, Field(..., description="ID of the file")], ocs_api_request : StrictStr, expiration_time : Annotated[Optional[StrictInt], Field(description="Duration until the link expires")] = None, **kwargs) -> DavDirectGetUrl200Response:  # noqa: E501
        """Get a direct link to a file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.dav_direct_get_url(file_id, ocs_api_request, expiration_time, async_req=True)
        >>> result = thread.get()

        :param file_id: ID of the file (required)
        :type file_id: int
        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param expiration_time: Duration until the link expires
        :type expiration_time: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DavDirectGetUrl200Response
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the dav_direct_get_url_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.dav_direct_get_url_with_http_info(file_id, ocs_api_request, expiration_time, **kwargs)  # noqa: E501

    @validate_arguments
    def dav_direct_get_url_with_http_info(self, file_id : Annotated[StrictInt, Field(..., description="ID of the file")], ocs_api_request : StrictStr, expiration_time : Annotated[Optional[StrictInt], Field(description="Duration until the link expires")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Get a direct link to a file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.dav_direct_get_url_with_http_info(file_id, ocs_api_request, expiration_time, async_req=True)
        >>> result = thread.get()

        :param file_id: ID of the file (required)
        :type file_id: int
        :param ocs_api_request: (required)
        :type ocs_api_request: str
        :param expiration_time: Duration until the link expires
        :type expiration_time: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DavDirectGetUrl200Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'file_id',
            'ocs_api_request',
            'expiration_time'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dav_direct_get_url" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('file_id') is not None:  # noqa: E501
            _query_params.append(('fileId', _params['file_id']))

        if _params.get('expiration_time') is not None:  # noqa: E501
            _query_params.append(('expirationTime', _params['expiration_time']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['ocs_api_request']:
            _header_params['OCS-APIRequest'] = _params['ocs_api_request']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['basic_auth', 'bearer_auth']  # noqa: E501

        _response_types_map = {
            '200': "DavDirectGetUrl200Response",
        }

        return self.api_client.call_api(
            '/ocs/v2.php/apps/dav/api/v1/direct', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
